html {
/*  min-height: 100%;*/
    min-height: 640px;
}

body {
    height: 100%;
    min-height: 640px;
    display: none;
    top: 0px;
    left: 0px;
    margin: 0;
}

html,body {
    height:100%;
}


#logo {
    width: 360px;
    position: absolute;
    top: calc(50% - 240px);
    right: calc(50% - 180px);
    z-index: 3;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.wrapper {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    min-height: 640px;
}

#about {
    background-color: coral;
}

#projects {
    background-color: bisque;
}

#photos {
    background-color: darksalmon;
}

#contact {
    background-color: darkseagreen;
}

.darker {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    min-height: 640px;
    z-index: 1;
    background: rgba(70, 72, 82, 0.3);
}

a {
    text-decoration: none;
    color: white;
    font-weight: 400;
    z-index: 3;
    
}

a:hover {
    color: gainsboro;
    z-index: 3;
}

header, .sticky_nav {
/*
    position: fixed;
    background-color: black;
*/
    width: 100%;
    z-index: 3;
    text-align: center;
    letter-spacing: 4px;
    padding-top: 40px;
    padding-bottom: 41px;
    margin: 0px;
    font-size: 16px;
    color: white;
    
}

header {
    display: none;
}

.sticky_nav {
    position: relative;
    background-color: none;
    margin-top: -100px;
    z-index: 9999;
    
/*    background: rgba(0,0,0,0.7);*/
/*
    -webkit-box-shadow: 0px 0px 47px 3px rgba(0,0,0,0.65);
    -moz-box-shadow: 0px 0px 47px 3px rgba(0,0,0,0.65);
    box-shadow: 0px 0px 47px 3px rgba(0,0,0,0.65);
*/
}

.sticky_nav_scrolled {
    width: 100%;
    z-index: 3;
    text-align: center;
    letter-spacing: 4px;
    padding-top: 40px;
    padding-bottom: 40px;
    margin: 0px;
    font-size: 16px;
    color: white;
    background-color: black;
    margin-top: -100px;
    z-index: 9999;
    
/*    background: rgba(0,0,0,0.7);*/
    -webkit-box-shadow: 0px 0px 47px 3px rgba(0,0,0,0.65);
    -moz-box-shadow: 0px 0px 47px 3px rgba(0,0,0,0.65);
    box-shadow: 0px 0px 47px 3px rgba(0,0,0,0.65);
    
    position: fixed;
    margin-top: 0px;
    top: 0;
}

nav {
    z-index: 3;
}

nav ul {
    z-index: 3;
    list-style: none;
    margin: 0 auto;
    padding: 0;
}

nav li {
    z-index: 3;
    display: inline-block;
}

.slideshow {
  list-style: none;
  position: absolute;
  min-height: 640px;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  margin: 0;
  padding: 0;
  z-index: 1;
}
.slideshow li span {
  width: 100%;
  height: 100%;
  min-height: 640px;
  position: absolute;
  top: 0px;
  left: 0px;
  color: transparent;
  background-size: cover;
  background-position: 50% 75%;
  background-repeat: none;
  opacity: 0;
  z-index: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-animation: imageAnimation 16s linear infinite 0s;
  -moz-animation: imageAnimation 16s linear infinite 0s;
  animation: imageAnimation 16s linear infinite 0s;
}

.slideshow li:nth-child(1) span {
  background-image: url(images/bw1_d.jpg);
}

.slideshow li:nth-child(2) span {
  background-image: url(images/bw2_o.jpg);
  -webkit-animation-delay: 4s;
  -moz-animation-delay: 4s;
  animation-delay: 4s;
}

.slideshow li:nth-child(3) span {
  background-image: url(images/bg1_o.jpg);
  -webkit-animation-delay: 8s;
  -moz-animation-delay: 8s;
  animation-delay: 8s;
}

.slideshow li:nth-child(4) span {
  background-image: url(images/bg2_o.jpg);
  -webkit-animation-delay: 12s;
  -moz-animation-delay: 12s;
  animation-delay: 12s;
}

@-webkit-keyframes imageAnimation {
  0% {
    opacity: 0;
    -webkit-animation-timing-function: ease-in;
  }
  3% {
    opacity: 1;
    -webkit-animation-timing-function: ease-out;
  }
  25% {
    opacity: 1;
  }
  28% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@-moz-keyframes imageAnimation {
  0% {
    opacity: 0;
    -moz-animation-timing-function: ease-in;
  }
  3% {
    opacity: 1;
    -moz-animation-timing-function: ease-out;
  }
  25% {
    opacity: 1;
  }
  28% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes imageAnimation {
  0% {
    opacity: 0;
    -webkit-animation-timing-function: ease-in;
    -moz-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  3% {
    opacity: 1;
    -webkit-animation-timing-function: ease-out;
    -moz-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  25% {
    opacity: 1;
  }
  28% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
.no-cssanimations .slideshow li span {
  opacity: 1;
}

#mobile_nav {
    display:none;
    position: fixed;
    top: 0px;
    height: 74px;
    width: 100%;
    background: rgba(0,0,0,0.7);
    -webkit-box-shadow: 0px 0px 47px 3px rgba(0,0,0,0.65);
    -moz-box-shadow: 0px 0px 47px 3px rgba(0,0,0,0.65);
    box-shadow: 0px 0px 47px 3px rgba(0,0,0,0.65);
    z-index: 5;
}

#mobile_nav h1 {
/*
    font-family: 'Times New Roman';
    font-style: italic;
*/
    color: white;
    position: absolute;
    margin-top: 16px;
    margin-left: 16px;
}

#mobile_nav_button {
    position: fixed;
    margin: 0;
    top: 0px;
    right: 16px;
    
}

@media screen and (max-width: 800px) {
    header, .sticky_nav {
        font-size: 12px;
    }
    #logo {
        width: 280px;
        top: calc(50% - 200px);
        right: calc(50% - 140px);
    }
}

@media screen and (max-width: 650px) {
    #mobile_nav {
        display: inline;
    }
    header, .sticky_nav {
        display: none;
    }
    #logo {
        width: 280px;
        top: calc(50% - 120px);
    }
}

@media screen and (max-width: 480px) {
    a {
        
    }
}